version: '3.8'

services:
  backend:
    build: .
    container_name: traffic_api
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
      - JWT_SECRET_KEY=super-secret-key
    restart: always